version: v0.13.0

dsn: memory

serve:
  public:
    base_url: /auth/
    cors:
      enabled: true
  admin:
    base_url: http://kratos:4434/

selfservice:
  default_browser_return_url: /
  allowed_return_urls:
    - "/"

  methods:
    password:
      enabled: true

  flows:
    error:
      ui_url: "/error"

    settings:
      ui_url: "/settings"
      privileged_session_max_age: 15m
      required_aal: highest_available

    recovery:
      enabled: true
      ui_url: "/recovery"
      use: code

    verification:
      enabled: true
      ui_url: "/verification"
      use: code
      after:
        default_browser_return_url: "/"

    logout:
      after:
        default_browser_return_url: "/login"

    login:
      ui_url: "/login"
      lifespan: 10m

    registration:
      lifespan: 10m
      ui_url: "/registration"
      after:
        password:
          hooks:
            - hook: session
            - hook: show_verification_ui

log:
  level: debug
  format: text
  leak_sensitive_values: true
secrets:
  cookie:
    - BRO-PLEASE-NOT-SECURE-AT-ALL-SERIOUSLY
  cipher:
    - "BRO-PLEASE-SPARE-ME-THE-CIPHER$$"

ciphers:
  algorithm: xchacha20-poly1305

hashers:
  algorithm: bcrypt
  bcrypt:
    cost: 8

identity:
  default_schema_id: default
  schemas:
    - id: default
      url: file:///etc/config/kratos/identity.schema.json

courier:
  smtp:
    connection_uri: smtps://test:test@mailslurper:1025/?skip_ssl_verify=true
