services:
  init-api:
    build: "exchequer-api"
    env_file:
      - "debug.env"
    command: ["poetry", "run", "alembic", "upgrade", "head"]
    volumes:
      - ${VOLUME_DIR:-/opt/exchequer/storage/volumes}/exchequer/data:/data
      - ${VOLUME_DIR:-/opt/exchequer/storage/volumes}/exchequer/config:/config
    networks:
      - exchequer

  api:
    build: "exchequer-api"
    env_file:
      - "debug.env"
    depends_on:
      - init-api
    ports:
      - 8000:8000
    restart: always

    volumes:
      - ${VOLUME_DIR:-/opt/exchequer/storage/volumes}/exchequer/data:/data
      - ${VOLUME_DIR:-/opt/exchequer/storage/volumes}/exchequer/config:/config

    networks:
      - exchequer

  frontend:
    build: "exchequer-admin"
    ports:
      - 8080:8080

    restart: always
    networks:
      - exchequer

  exchequer-app:
    build: "exchequer-app"
    ports:
      - 8082:8082
      
    restart: always
    networks:
      - exchequer

networks:
  exchequer:
    external: true
